* {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #d3ae21;
}
header, main {
    color: black;
}
main {
    padding-bottom: 32.4px;
}
footer {
    position: fixed;
    background-color: black;
    color: #d3ae21;
    bottom: 0;
    width: 100vw;
    padding: 5px;
}
footer a {
    color: red;
}
nav {
    margin-top: -10px;
}
br {
    display: block;
    margin: 8px 0;
}
li {
    display: inline;
}
li a {
    background-color: #d3ae21;
    border: 1px solid black;
    color: black;
    font-size: 12px;
    padding: 3px;
}
img {
    alt: "image not found";
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: 157px;
}
h2 {
    margin-top: 2px;
    margin-bottom: 7px;
    border-bottom: 5px solid black;
}
h3 {
    margin-top: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
p {
    font-size: 15px;
}
.container {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 16px;
    border: 3px solid black;
    border-radius: 10px;
}
#blogs {
    grid-template-columns: auto auto auto auto;
}
#blogs a {
    border: 2px solid white;
    border-radius: 10px;
    margin: 1px;
}
#blogs a p {
    margin-left: 5px;
    padding-bottom: 5px;
    color: white;
}
#blogs a img {
    border: 2px solid white;
    border-radius: 10px;
    height: 113px;
    width: 170px;
    margin-top: -2px;
}
#contactsandsocials p a {
    text-decoration: underline;
    color: red;
}