* {
    margin: 0;
    padding: 0;
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: yellow;
}
h1 {
    text-align: left;
    margin-top: 5px;
    border-bottom: 1px solid yellow;
}
h2 {
    text-align: left;
    margin-top: 5px;
}
p {
    text-align: left;
    margin-top: 10px;
}
img {
    display: block;
    border: 5px solid yellow;
    margin-left: 15vw;
    margin-right: auto;
    width: 50%;
    alt: "Image not found";
}
br {
    display: block;
    margin: 8px 0;
}
a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 28vw;
    margin-right: auto;
    width: 10vw;
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    font-size: 12px;
    padding: 3px;
}
.background {
    background-color: black;
    padding: 10px;
    margin-top: -5px;
    margin-left: 15vw;
    margin-bottom: -8px;
    width: 70vw;
    height: 100%;
}